.theme-navbar{
    background-color: rgb(0, 132, 255);
}

.theme-orange-btn{
    background-color: chocolate;
}
.theme-orange-btn:hover{
    background-color: rgb(255, 165, 0);
    opacity: 0.9;
}

.theme-blue-btn{
    background-color: rgb(136, 196, 214);
   
}
.theme-blue-btn:hover{
    background-color: rgb(204, 0, 255);
     opacity: 0.9;
}
.theme-green-btn:hover{
    background-color: rgb(80, 141, 111);
}